* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #F6F7EB;;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    position: fixed;
    top: 10px;
    left: -10px;
    z-index: 10;
}

#nav-icon {
    display: flex;
    flex-direction: column;
    position:fixed;
    justify-content: space-between;
    width: 45px;
    height: 30px;
    right: 30px;
    top: 30px;
    background-color: transparent;
}

.bar {
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: #253237;
}

#nav-icon:hover{
    cursor: pointer;
}

.nav ul {
    display:none;
    position:fixed;
    right: 25px;
    top: 50px;
    list-style: none;
    flex-direction: column;
    align-items: flex-end;
}

.nav-link {
    text-decoration: none;
    color: #253237;
}

.nav-link:visited {
    text-decoration: none;
    color: #253237;
}

.nav ul li {
    font-family:'Source Serif Pro', serif;
    margin: 5px;
}

.titles {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: #253237 solid 2px;
    height: 350px;
}

.title-section h1 {
    margin-top: 80px;
    font-size: 70px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    color:#253237;

}

.title-section h3 {
    position: relative;
    top: -50px;
    align-self: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:#253237;
}

.title-section-expand h1 {
    margin-top: 80px;
    font-size: 70px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    color:#253237;

}

.title-section-expand h3 {
    position: relative;
    top: -50px;
    align-self: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color:#253237;
}

.title-section-expand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: #253237 solid 2px;
    height: 500px;
    animation: title-expand 0.7s forwards;
}

.title-section-unexpand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: #253237 solid 2px;
    height: 350px;
    animation: title-unexpand 0.7s forwards;
}

@keyframes title-expand {
    0%{
        height: 350px;
    }
    100%{
        height: 600px;
    }
}

@keyframes title-unexpand {
    0%{
        height: 600px;
    }
    100%{
        height: 350px;
    }
}

.title-section-unexpand h1 {
    margin-top: 80px;
    font-size: 70px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;

}

.title-section-unexpand h3 {
    position: relative;
    top: -50px;
    align-self: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#reveal-button{
    position: relative;
    top: -50px;
    height: 50px;
    width: 45px;
    transform: rotate(90deg);
}

#arrow-one {
    position: relative;
    top: 10px;
    height: 10px;
    width: 30px;
    background-color: #253237;
    border-radius: 2px;
    transform: rotate(45deg);
}

#arrow-two {
    position: relative;
    top: 15px;
    height: 10px;
    width: 30px;
    background-color: #253237;
    border-radius: 2px;
    transform: rotate(-45deg);
}

#reveal-button:hover{
    cursor: pointer;
}

#revealed-button{
    position: relative;
    top: -50px;
    height: 50px;
    width: 45px;
    animation: arrow-spin 0.7s forwards;
}

#revealed-button:hover{
    cursor: pointer;
}

#re-reveal-button{
    position: relative;
    top: -50px;
    height: 50px;
    width: 45px;
    animation: arrow-respin 0.7s forwards;
}

#re-reveal-button:hover{
    cursor: pointer;
}

@keyframes arrow-spin {
    100%{
        transform: rotate(-90deg);
    }
    
}

@keyframes arrow-respin {
    0%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

#title-paragraph {
    color:#253237;
    height: 100px;
    width: 0px;
    overflow: hidden;
}

#title-paragraph-expand{
    color:#253237;
    position:relative;
    bottom: 50px;
    margin: 40px;
    width: 600px;
    font-size: 21px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

#title-paragraph-unexpand{
    color:#253237;
    height: 100px;
    width: 0px;
    overflow: hidden;
}

.info-section{
    position: relative;
    bottom: 55px;
    width: 200px;
    right: 12px;
    display: flex;
    justify-content: space-evenly;
}

.info-section img{
    height: 30px;
}

.skills-section {
    position: relative;
    display: flex;
    width: 100%;
    top: 10px;
    flex-direction: column;
}

h2 {
    font-size: 60px;
    position: relative;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    color: #253237;
}

.skills-div {
    position: relative;
    left: 20px;
    width: 90%;
    display: flex;
    align-items: center;
}

.skills-div h3{
    position: relative;
    top: -27px;
    font-family: 'Source Serif Pro', serif;
    margin-right: 12px;
    color: #253237;

}

.skills-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.skills-div div p {
    font-family: 'Poppins', sans-serif;
    font-weight:100;
    color: #253237;
}

.logo-div img {
    width: 50px;
}

.projects {
    position: relative;
    top: 50px;
    margin: 20px;
    width: 100%;
    border-top: solid #253237 1px;
    display:flex;
    flex-direction: column;
    align-content: center;
}

.project-div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: solid #253237 2px;
    width: 95%;
    height: 125px;
    margin: 20px;
    top: -20px;
    overflow: hidden;
}

.project-div, .project-div-expand:hover{
    cursor: pointer;
}

.project-div-expand {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border: solid #253237 2px;
    width: 95%;
    height: 700px;
    margin: 20px;
    top: -20px;
}

.project-div h3 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size: 38px;
    align-self: center;
}

.project-content p {
    margin: 5px;
    position: relative;
    left: 0px;
    width: 600px;
}

.project-div-expand h3 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size: 38px;
    align-self: center;
}

.project-div-expand p {
    margin: 0px;
    position: relative;
    left: 20px;
    width: 220px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 13.7px;
}

.project-content {
    position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.project-photo{
    position: relative;
    width: 250px;
    height: 300px;
}

.technology{
    position: relative;
    top:20px;
    left: -20px;
    margin: 15px;
    width: 370px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.technology h4 {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif;    
}

.tech-logo{
    margin: 7px;
    height:40px;
    width: 40px;
}

.project-links {
    height: 50px;
    position: relative;
    width: 50px;
    top:45px;
    margin: 0px;
}

.interests {
    position: relative;
    top: 50px;
    width: 95%;
    border-top: solid #253237 1px;
}

.interest-div {
    border: solid #253237 2px;
    margin: 5px;
    height: 200px;
}

.interests h3{
    position: relative;
    font-family: 'Source Serif Pro', serif;
    left: 20px;
}

.interests p {
    font-family: 'Merriweather Sans', sans-serif;
    margin: 20px;
}

.contact-me {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    top: 100px;
    border-top: solid #253237 1px;
    width: 90%;
    padding-bottom: 40px;;
}

.contact-me h4 {
    font-family: 'Source Serif Pro', serif;
}

.contact-links {
    border: solid #253237 2px;
    height: 80px;
    position:relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: 300px;
}

.contact-links img {
    width: 20px;
    height: 20px;
    border: solid #253237 1px;
}

.contact-me h4 {
    font-size: 30px;
    width: 160px;
    align-self: center;
    text-align: center;
}

@media (max-width:560px) {
    .skills-div{
        flex-wrap: wrap;
    }

    .project-div-expand{
        height: 900px;
        overflow: scroll;
    }

    .project-content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between ;
    }

    .project-content p {
        position: relative;
        text-align: center;
        top: 20px;
        left:0px;
        width: 90%;
    }

    .technology{
        align-self: center;
        left: 20px;
    }

    #title-paragraph-expand{
        color:#253237;
        position:relative;
        bottom: 50px;
        margin: 40px;
        width: 90%;
        font-size: 18px;
        text-align: center;
        font-family: 'Merriweather Sans', sans-serif;
    }

}

@media (min-width: 1125px){
    .title-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        border: #253237 solid 2px;
        height: 500px;
    }


    .titles {
        margin: 50px;
    }

    .titles h3 {
        position: relative;
        align-self: flex-start;
        top: -85px;
    }

    .title-section h1 {
        margin-top: 80px;
        font-size: 90px;
        width: 430px;
    }
    
    .title-section-expand h1 {
        margin-top: 80px;
        font-size: 90px;
        width: 430px;
    }

    #reveal-button {
        display: flex;
        flex-direction: column;
        height: 45px;
        width: 50px;
        top: 10px;
        left: -20px;
        transform: rotate(0deg);
    }

    #arrow-one {
        position: relative;
        top: 10px;
        height: 10px;
        width: 30px;
        background-color: #253237;
        border-radius: 2px;
        transform: rotate(45deg);
    }

    #arrow-two {
        position: relative;
        top: 15px;
        height: 10px;
        width: 30px;
        background-color: #253237;
        border-radius: 2px;
        transform: rotate(-45deg);
    }

    #re-reveal-button {
        position: relative;
        height: 50px;
        width: 35px;
        top: 10px;
        left: -20px;
        animation: arrow-respin 0.7s forwards;
    }

    #re-reveal-button:hover{
        cursor: pointer;
    }

    #revealed-button{
        position: relative;
        top: 10px;
        left: -20px;
        height: 50px;
        width: 35px;
        animation: arrow-spin 0.7s forwards;
    }
    
    #revealed-button:hover{
        cursor: pointer;
    }
    
    @keyframes arrow-spin {
        100%{
            transform: rotate(180deg);
        }
    }

    @keyframes arrow-respin {
        0%{
            transform: rotate(180deg)
        }
        100%{
            transform: rotate(0deg);
        }
    }
    
    #title-paragraph {
        position: relative;
        width: 0px;
        height: 116px;
        top: 18px;
    }

    #title-paragraph-expand {
        top: 18px;
        position: relative;
        height: 116px;
        width: 40%;
        left: 30px;
        font-size:20px;
        text-align: left;
        overflow: hidden;
        animation: title-slide 0.7s forwards;
        font-size: 18px;
        font-family: 'Merriweather Sans', sans-serif;
    }
    
    #title-paragraph-unexpand {
        position: relative;
        top: 18px;
        height: 116px;
        overflow: hidden;
        animation: title-unslide 0.7s forwards;
        font-size: 18px;
        font-family: 'Merriweather Sans', sans-serif;
    }

    @keyframes title-slide {
        from{
            width: 0px;
        }
        to{
            width: 400px;
        }
    }

    @keyframes title-unslide {
        from{
            width: 400px;

        }
        to{
            width: 0px;
        }
    }

    .title-section .info-section {
        top: 12px;
        left: 9px;
        height: 170px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;
    }

    .info-section img {
        width: 30px;
        position: relative;
    }

    h2 {
        width: 400px;
        font-size: 70px;
        align-self: flex-start;
        left: 30px;
        text-align: left;
    }

    .skills-div {
        display: flex;
        position: relative;
        left: 20px;
    }

    .skills-div div {
        margin: 15px;
    }

    .project-div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        border: solid #253237 2px;
        width: 95%;
        height: 200px;
        margin: 20px;
        top: -20px;
        overflow: hidden;
    }

    .project-div-expand {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: flex-start;
        border: solid #253237 2px;
        width: 95%;
        height: 650px;
        margin: 20px;
        top: -20px;
    }
    .project-div h3 {
        font-size: 65px;
        align-self: center;
        color: #253237;
    }

    .project-div-expand h3 {
        position:relative;
        font-size: 65px;
        align-self: flex-start;
        left: 66px;
    }

    .project-content {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        height: 300px;
        width: 90%;
    }
    
    .project-photo {
        position: relative;
        margin: 15px;
        height: 275px;
        width: 400px;
    }

    .project-content p {
        position: relative;
        top: 20px;
        font-size: 18px;
        width: 500px;
    }

    .technology{
        width: 680px;
    }

    .technology h4 {
        font-size: 20px;
        font-family: 'Source Serif Pro', serif;    
    }

    .technology img{
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .project-links {
        top: 20px;
        height: 50px;
    }

    .interests {
        margin: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .interest-body {
        display: flex;
        flex-direction: row;
    }

    .interest-div {
        left: 50px;
        width: 275px;
        height: 300px;
        margin: 15px;
        align-self: center;
        overflow-y: scroll;
    }

    .interest-div h3 {
        color: #253237;
        width: 100px;
    }

    .interest-div p{
        color: #253237;
        margin: 20px;
    }

    .contact-me {
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    .contact-me h4 {
        font-size: 30px;
        width: 160px;
        align-self: center;
        text-align: center;
        color: #253237;
    }

    .contact-links {
        align-self: center;
        width: 300px;
    }
}

